doctype html
html(lang='en')
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title Admin Create
    link(href="../css/bootstrap.css" rel="stylesheet")
    script(src="../js/jquery.min.js")
    script(src="../js/popper.min.js")
    script(src="../js/bootstrap.min.js")

    <!-- include summernote css/js -->
    link(href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet")
    script(src="../js/summernote.js")
    script(src="../js/admin-list.js")
    script.
        $(document).ready(function() {
            $('#summernote').summernote();
        });
    body
        
        